#
# Normal rules
#
*.[oa]
*.ko
*.ko.unsigned
*.ko.out
*.ko.out.sig
*.lo
*.la
*.mod.c
*~
*.swp
.*.cmd
.deps
.libs
.DS_Store
modules.order
Makefile
Makefile.in

#
# Top level generic files
#
!.gitignore
tags
TAGS
cscope.*

# Project-specific files
atomic.S
